# Walk-in Clinic reports analysis

This document serves as a brainstorm notebook to get reports from the DB.

## Connecting to the DB

In [6]:
!{sys.executable} -m pip install pandas
!{sys.executable} -m pip install statsmodels
!{sys.executable} -m pip install matplotlib
!{sys.executable} -m pip install seaborn
!{sys.executable} -m pip install numpy

Requirement already satisfied: pandas in ./venv/lib/python3.8/site-packages (1.4.2)
Requirement already satisfied: python-dateutil>=2.8.1 in ./venv/lib/python3.8/site-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.18.5 in ./venv/lib/python3.8/site-packages (from pandas) (1.22.3)
Requirement already satisfied: pytz>=2020.1 in ./venv/lib/python3.8/site-packages (from pandas) (2022.1)
Requirement already satisfied: six>=1.5 in ./venv/lib/python3.8/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
WARNING: You are using pip version 22.0.3; however, version 22.0.4 is available.
You should consider upgrading via the '/Users/eduardo.gutierrez/Develop/Conestoga/Programming/prog8420-walk-in-clinic/venv/bin/python -m pip install --upgrade pip' command.
Requirement already satisfied: statsmodels in ./venv/lib/python3.8/site-packages (0.13.2)
Requirement already satisfied: numpy>=1.17 in ./venv/lib/python3.8/site-packages (from statsmodels) (1.22.3)
Requirement already satisfied: pandas>=0.25 in ./venv/lib/python3.8/site-packages (from statsmodels) (1.4.2)
Requirement already satisfied: patsy>=0.5.2 in ./venv/lib/python3.8/site-packages (from statsmodels) (0.5.2)
Requirement already satisfied: packaging>=21.3 in ./venv/lib/python3.8/site-packages (from statsmodels) (21.3)
Requirement already satisfied: scipy>=1.3 in ./venv/lib/python3.8/site-packages (from statsmodels) (1.8.0)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in ./venv/lib/python3.8/site-packages (from packaging>=21.3->statsmodels) (3.0.7)
Requirement already satisfied: pytz>=2020.1 in ./venv/lib/python3.8/site-packages (from pandas>=0.25->statsmodels) (2022.1)
Requirement already satisfied: python-dateutil>=2.8.1 in ./venv/lib/python3.8/site-packages (from pandas>=0.25->statsmodels) (2.8.2)
Requirement already satisfied: six in ./venv/lib/python3.8/site-packages (from patsy>=0.5.2->statsmodels) (1.16.0)
WARNING: You are using pip version 22.0.3; however, version 22.0.4 is available.
You should consider upgrading via the '/Users/eduardo.gutierrez/Develop/Conestoga/Programming/prog8420-walk-in-clinic/venv/bin/python -m pip install --upgrade pip' command.
Requirement already satisfied: matplotlib in ./venv/lib/python3.8/site-packages (3.5.1)
Requirement already satisfied: pillow>=6.2.0 in ./venv/lib/python3.8/site-packages (from matplotlib) (9.0.1)
Requirement already satisfied: python-dateutil>=2.7 in ./venv/lib/python3.8/site-packages (from matplotlib) (2.8.2)
Requirement already satisfied: cycler>=0.10 in ./venv/lib/python3.8/site-packages (from matplotlib) (0.11.0)
Requirement already satisfied: numpy>=1.17 in ./venv/lib/python3.8/site-packages (from matplotlib) (1.22.3)
Requirement already satisfied: pyparsing>=2.2.1 in ./venv/lib/python3.8/site-packages (from matplotlib) (3.0.7)
Requirement already satisfied: fonttools>=4.22.0 in ./venv/lib/python3.8/site-packages (from matplotlib) (4.32.0)
Requirement already satisfied: kiwisolver>=1.0.1 in ./venv/lib/python3.8/site-packages (from matplotlib) (1.4.2)
Requirement already satisfied: packaging>=20.0 in ./venv/lib/python3.8/site-packages (from matplotlib) (21.3)
Requirement already satisfied: six>=1.5 in ./venv/lib/python3.8/site-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)
WARNING: You are using pip version 22.0.3; however, version 22.0.4 is available.
You should consider upgrading via the '/Users/eduardo.gutierrez/Develop/Conestoga/Programming/prog8420-walk-in-clinic/venv/bin/python -m pip install --upgrade pip' command.
Requirement already satisfied: seaborn in ./venv/lib/python3.8/site-packages (0.11.2)
Requirement already satisfied: matplotlib>=2.2 in ./venv/lib/python3.8/site-packages (from seaborn) (3.5.1)
Requirement already satisfied: pandas>=0.23 in ./venv/lib/python3.8/site-packages (from seaborn) (1.4.2)
Requirement already satisfied: numpy>=1.15 in ./venv/lib/python3.8/site-packages (from seaborn) (1.22.3)
Requirement already satisfied: scipy>=1.0 in ./venv/lib/python3.8/site-packages (from seaborn) (1.8.0)
Requirement already satisfied: python-dateutil>=2.7 in ./venv/lib/python3.8/site-packages (from matplotlib>=2.2->seaborn) (2.8.2)
Requirement already satisfied: cycler>=0.10 in ./venv/lib/python3.8/site-packages (from matplotlib>=2.2->seaborn) (0.11.0)
Requirement already satisfied: pillow>=6.2.0 in ./venv/lib/python3.8/site-packages (from matplotlib>=2.2->seaborn) (9.0.1)
Requirement already satisfied: pyparsing>=2.2.1 in ./venv/lib/python3.8/site-packages (from matplotlib>=2.2->seaborn) (3.0.7)
Requirement already satisfied: fonttools>=4.22.0 in ./venv/lib/python3.8/site-packages (from matplotlib>=2.2->seaborn) (4.32.0)
Requirement already satisfied: packaging>=20.0 in ./venv/lib/python3.8/site-packages (from matplotlib>=2.2->seaborn) (21.3)
Requirement already satisfied: kiwisolver>=1.0.1 in ./venv/lib/python3.8/site-packages (from matplotlib>=2.2->seaborn) (1.4.2)
Requirement already satisfied: pytz>=2020.1 in ./venv/lib/python3.8/site-packages (from pandas>=0.23->seaborn) (2022.1)
Requirement already satisfied: six>=1.5 in ./venv/lib/python3.8/site-packages (from python-dateutil>=2.7->matplotlib>=2.2->seaborn) (1.16.0)
WARNING: You are using pip version 22.0.3; however, version 22.0.4 is available.
You should consider upgrading via the '/Users/eduardo.gutierrez/Develop/Conestoga/Programming/prog8420-walk-in-clinic/venv/bin/python -m pip install --upgrade pip' command.
Requirement already satisfied: numpy in ./venv/lib/python3.8/site-packages (1.22.3)
WARNING: You are using pip version 22.0.3; however, version 22.0.4 is available.
You should consider upgrading via the '/Users/eduardo.gutierrez/Develop/Conestoga/Programming/prog8420-walk-in-clinic/venv/bin/python -m pip install --upgrade pip' command.

In [7]:
import requests
import pandas as pd
import numpy as np

In [8]:

URL = "http://localhost:8000/appointments-with-id-display-name/?skip=0&limit=100"
resp = requests.get(URL, json=True)

appointments_json = resp.json()

In [9]:
appointments_df = pd.DataFrame.from_dict(appointments_json)

In [10]:
appointments_df.head(10)

,date_and_time,comments,id,appointment_display_name,patient_id,patient_display_name,staff_id,staff_display_name,doctor_id,doctor_display_name,prescription_id,prescription_display_name
0,2022-04-17T13:00:00,Cupiditate voluptatibus cupiditate culpa lauda...,1,"17/04/2022, 13:00:00, montesdeanna@example.net",1,nathan44@example.net,a25ff93a-1f2c-4a1f-bfe5-0fa06d261753,ryan00@example.org,308187e9-e2a9-418a-9465-2e1f14077976,montesdeanna@example.net,1,Atorvastatin (5 mg)
1,2022-04-17T08:00:00,Perspiciatis necessitatibus ipsum nemo adipisc...,2,"17/04/2022, 08:00:00, danieltaylor@example.org",2,morenonatalie@example.org,a0d37bfd-b711-4f5d-88e5-013e03eb335b,timothy85@example.net,236f66d4-7659-4781-9fe9-f962f8c04539,danieltaylor@example.org,2,Levothyroxine (300 mL)
2,2022-04-17T16:00:00,Laboriosam ratione maiores illo aperiam natus ...,3,"17/04/2022, 16:00:00, eric71@example.net",3,gregory61@example.org,46440f8d-75d1-4b3a-9f3c-16ffe6b20ab8,johngraham@example.net,3c12843b-f6af-4213-9e98-ac2e48617f78,eric71@example.net,3,Lisinopril (10 g)
3,2022-04-17T08:00:00,Debitis molestiae saepe cupiditate.,4,"17/04/2022, 08:00:00, cjones@example.com",4,smithaaron@example.org,a25ff93a-1f2c-4a1f-bfe5-0fa06d261753,ryan00@example.org,5027f3ca-cbad-4ef6-ada2-581c5fd8be72,cjones@example.com,4,Metformin (200 oz)
4,2022-04-17T10:30:00,Aliquam sint ducimus soluta recusandae volupta...,5,"17/04/2022, 10:30:00, montesdeanna@example.net",6,goodmankimberly@example.com,46440f8d-75d1-4b3a-9f3c-16ffe6b20ab8,johngraham@example.net,308187e9-e2a9-418a-9465-2e1f14077976,montesdeanna@example.net,6,Amlodipine (40 mL)
5,2022-04-17T09:00:00,Illum ab velit quae.,6,"17/04/2022, 09:00:00, eric71@example.net",8,cburton@example.org,a0d37bfd-b711-4f5d-88e5-013e03eb335b,timothy85@example.net,3c12843b-f6af-4213-9e98-ac2e48617f78,eric71@example.net,8,Omeprazole (1 oz)
6,2022-04-17T16:30:00,Dolorum distinctio dolorum voluptatum inventor...,7,"17/04/2022, 16:30:00, cjones@example.com",9,beverly42@example.com,46440f8d-75d1-4b3a-9f3c-16ffe6b20ab8,johngraham@example.net,5027f3ca-cbad-4ef6-ada2-581c5fd8be72,cjones@example.com,9,Losartan (200 mg)
7,2022-04-17T16:30:00,Itaque nam maxime ea vero.,8,"17/04/2022, 16:30:00, johnsonnathan@example.net",10,taylorhuang@example.org,a25ff93a-1f2c-4a1f-bfe5-0fa06d261753,ryan00@example.org,4e79a640-d255-44c2-94dd-ca03564672a8,johnsonnathan@example.net,10,Gabapentin (500 mL)
8,2022-04-17T09:00:00,Vitae numquam minus illo.,9,"17/04/2022, 09:00:00, montesdeanna@example.net",11,brandon76@example.net,a0d37bfd-b711-4f5d-88e5-013e03eb335b,timothy85@example.net,308187e9-e2a9-418a-9465-2e1f14077976,montesdeanna@example.net,11,Hydrochlorothiazide (4 g)
9,2022-04-17T11:00:00,Iste earum distinctio sit.,10,"17/04/2022, 11:00:00, danieltaylor@example.org",12,dayyolanda@example.net,46440f8d-75d1-4b3a-9f3c-16ffe6b20ab8,johngraham@example.net,236f66d4-7659-4781-9fe9-f962f8c04539,danieltaylor@example.org,12,Sertraline (300 oz)

In [11]:
appointments_df.groupby("prescription_display_name").agg({'patient_id': 'count'}).head(5)

                           patient_id
prescription_display_name
Allopurinol (5 g)                   1
Amlodipine (40 mL)                  1
Aspirin (10 mL)                     1
Atenolol (30 g)                     1
Atorvastatin (5 mg)                 1

In [12]:
appointments_df.groupby("doctor_display_name").agg({'patient_id': "count"})

                           patient_id
doctor_display_name
cjones@example.com                  8
danieltaylor@example.org            9
eric71@example.net                  6
johnsonnathan@example.net           7
montesdeanna@example.net            8

In [13]:
appointments_df.groupby("staff_display_name").agg({'patient_id': "count"})

                        patient_id
staff_display_name
johngraham@example.net          12
ryan00@example.org              14
timothy85@example.net           12

In [14]:
appointments_df.groupby("date_and_time").agg({'patient_id': "count"})

                     patient_id
date_and_time
2022-04-17T08:00:00           2
2022-04-17T08:30:00           2
2022-04-17T09:00:00           3
2022-04-17T09:30:00           3
2022-04-17T10:00:00           2
2022-04-17T10:30:00           3
2022-04-17T11:00:00           5
2022-04-17T11:30:00           2
2022-04-17T13:00:00           2
2022-04-17T13:30:00           1
2022-04-17T14:00:00           2
2022-04-17T14:30:00           2
2022-04-17T15:00:00           4
2022-04-17T15:30:00           1
2022-04-17T16:00:00           2
2022-04-17T16:30:00           2

In [15]:
appointments_df.groupby("doctor_display_name").agg({'patient_id': "count"})

                           patient_id
doctor_display_name
cjones@example.com                  8
danieltaylor@example.org            9
eric71@example.net                  6
johnsonnathan@example.net           7
montesdeanna@example.net            8

In [16]:
appt_by_doctor_by_time = appointments_df.groupby(["doctor_display_name", "date_and_time"]).agg({'patient_id': "count"}).reset_index()
appt_by_doctor_by_time.head(5)

  doctor_display_name        date_and_time  patient_id
0  cjones@example.com  2022-04-17T08:00:00           1
1  cjones@example.com  2022-04-17T09:30:00           1
2  cjones@example.com  2022-04-17T10:00:00           1
3  cjones@example.com  2022-04-17T11:00:00           1
4  cjones@example.com  2022-04-17T14:00:00           1

In [17]:
availability_pivot = appt_by_doctor_by_time.pivot_table('patient_id', ['doctor_display_name'], 'date_and_time')
availability_pivot.head(5)

date_and_time,2022-04-17T08:00:00,2022-04-17T08:30:00,2022-04-17T09:00:00,2022-04-17T09:30:00,2022-04-17T10:00:00,2022-04-17T10:30:00,2022-04-17T11:00:00,2022-04-17T11:30:00,2022-04-17T13:00:00,2022-04-17T13:30:00,2022-04-17T14:00:00,2022-04-17T14:30:00,2022-04-17T15:00:00,2022-04-17T15:30:00,2022-04-17T16:00:00,2022-04-17T16:30:00
doctor_display_name,,,,,,,,,,,,,,,,
cjones@example.com,1.0,NaN,NaN,1.0,1.0,NaN,1.0,NaN,NaN,NaN,1.0,NaN,1.0,NaN,1.0,1.0
danieltaylor@example.org,1.0,1.0,NaN,1.0,1.0,1.0,1.0,NaN,1.0,NaN,NaN,1.0,1.0,NaN,NaN,NaN
eric71@example.net,NaN,NaN,1.0,NaN,NaN,NaN,1.0,1.0,NaN,NaN,NaN,1.0,1.0,NaN,1.0,NaN
johnsonnathan@example.net,NaN,1.0,1.0,NaN,NaN,1.0,1.0,1.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,1.0
montesdeanna@example.net,NaN,NaN,1.0,1.0,NaN,1.0,1.0,NaN,1.0,NaN,1.0,NaN,1.0,1.0,NaN,NaN

In [18]:
available_schedules = availability_pivot.reset_index()

In [21]:
schedules = available_schedules.replace(np.nan, 'Available')
schedules = schedules.replace(1.0, 'Busy')
schedules

date_and_time,doctor_display_name,2022-04-17T08:00:00,2022-04-17T08:30:00,2022-04-17T09:00:00,2022-04-17T09:30:00,2022-04-17T10:00:00,2022-04-17T10:30:00,2022-04-17T11:00:00,2022-04-17T11:30:00,2022-04-17T13:00:00,2022-04-17T13:30:00,2022-04-17T14:00:00,2022-04-17T14:30:00,2022-04-17T15:00:00,2022-04-17T15:30:00,2022-04-17T16:00:00,2022-04-17T16:30:00
0,cjones@example.com,Busy,Available,Available,Busy,Busy,Available,Busy,Available,Available,Available,Busy,Available,Busy,Available,Busy,Busy
1,danieltaylor@example.org,Busy,Busy,Available,Busy,Busy,Busy,Busy,Available,Busy,Available,Available,Busy,Busy,Available,Available,Available
2,eric71@example.net,Available,Available,Busy,Available,Available,Available,Busy,Busy,Available,Available,Available,Busy,Busy,Available,Busy,Available
3,johnsonnathan@example.net,Available,Busy,Busy,Available,Available,Busy,Busy,Busy,Available,Busy,Available,Available,Available,Available,Available,Busy
4,montesdeanna@example.net,Available,Available,Busy,Busy,Available,Busy,Busy,Available,Busy,Available,Busy,Available,Busy,Busy,Available,Available

## Possible reports

1. Which province are patients from
2.